@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';

:global {
  .ant-modal-content {
    max-width: 600px;
    .ant-modal-footer {
      display: flex;
      justify-content: center;
      gap: 40px;
    }
  }
  .ant-form-item-label {
    text-align: left;
  }
  .ant-form-horizontal h2 {
    margin-bottom: 25px;
  }
  .ant-modal {
    top: 150px;
  }
}

.input {
  width: 50%;
  .responsive(@screen-md ;{width: 80%});
  .responsive(@screen-sm ;{width: 100%});
}
