:global {
  .ant-modal-content {
    max-width: 600px;
    .ant-modal-footer {
      display: flex;
      justify-content: center;
      gap: 40px;
    }
  }
  .ant-form-item-label {
    text-align: left;
  }
  .ant-form-horizontal h2 {
    margin-bottom: 25px;
  }
}
